<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
    <div class="bg-white" style="padding: 10px">
      <%- content%>
    </div>
</body>

</html>